<div class="container-fluid">
  <div class="row">
    <% @groups.each do |group| %>
      <div class="col-xs-3 text-center">
        <div class="list">
          <h2><%= group.humanize %></h2>
          <div>
            <% @contacts.send(group).each do |c| %> 
			<!-- było dla każdej grupy: 
			@contacts.family.each do |c| - użyta była nazwa scope 
			metoda send() wywołuje metodę, której nazwy nie znamy zanim nie uruchomi się kod
			tutaj: dla każdej grupy nazwą wywoływanej metody jest nazwa grupy-->
              <%= render 'contact_group', contact: c %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>