
@import "bootstrap";

#big-font {
  font-size: 18px;
  font-weight: normal;
}

#no-borders {
  border: none;
}

#sub-paragraph {
  margin-bottom: 2%;
  margin-left: 3%;
  margin-top: 1.5%;
}

#table-books {
  text-align: center;
}

#top-index {
  color: white;
  font-weight: bold;
  float: right;
}



.details {
  display: inline-block;
  border-radius: 4px;
  background-color: #4169E1;
  border: none;
  color: #FFFFFF;
  font-family: "Tahoma";
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  transition: all 0.5s;
  vertical-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100px;
  padding-top:5px;
}

.details span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  vertical-align: center;
}

.details span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.details:hover span {
  padding-right: 25px;
}

.details:hover span:after {
  opacity: 1;
  right: 0;
}



div.body {
  background: white;
  border-style: outset;
  border-radius: 15px 50px;
  border-width: 10px;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  width: 90%;
}

div.centered-frame {
  border-style: ridge;
  border-radius: 5px;
  left: 50%;
  padding: 10px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

div.control_left {
  float: left;
  margin-right: 5px;
}

div.control_right {
  float: right;
  margin-left: 5px;
}

div.controls_row_container {
  overflow: auto;
  margin: 5px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: center;
}



h1.header {
  font-family: "Veranda";
  font-size: 45px;
  font-weight: bold;
}



h2.header {
  font-family: "Tahoma";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}



h3.header {
  font-family: Georgia;
  font-weight: bold;
}



li.navi:hover, li.navi:active {
  background: black;
}



p.casual {
  font-family: "Veranda";
  font-size: 18px;
  width: 90%;
  margin: auto;
}



span.border-1 {
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

span.error-message {
  color: red;
  font-weight: bold;
}

span.positive-message {
  color: green;
  font-weight: bold;
}

span.warning-message {
  color: #FFDF00;
  font-weight: bold;
}



table, td, th, tr {
  border: 1px solid black;
}

table#table-books td {
  padding-left: 5px;
  padding-right: 5px;
}

table#table-books th {
  background-color: #A9A9A9;
}

table#table-books tr {
  height: 30px;
}

table#table-books tr:nth-child(even) {
  background-color: #fff;
}

table#table-books tr:nth-child(odd) {
  background-color: #eee;
}

table.books {
  min-width: 50%;
}

table.offers {
  min-width: 40%;
}

td.big-3 {
  min-width: 300px;
}

td.big-1 {
  min-width: 100px;
}

td.small-3 {
  min-width: 30px;
  border-right: 1px solid;
}

td.small-4 {
  min-width: 40px;
}

td.small-5 {
  min-width: 50px;
}

td.small-5-static {
  width: 100px;
}

td.title {
  min-width: 300px;
  text-align: left;
}



th {
  font-weight: bold;
  text-align: center;
}

